---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background: #f2f2f2 !important;    
}

#header_wrap {
    background: linear-gradient(to right, #404040, #101010) !important;
}

.inner {
    max-width: 80%;
}

pre, code {
    font-family: "Jetbrains Mono" !important;
}

#main_content_wrap {
    width: 100%;
    border-bottom: 0px !important;
    border-top: 0px !important;
}

#project_tagline {
    display: none;
}

#header_wrap .inner {
    padding: 10px !important;
}

#footer_wrap {
    background: #f2f2f2 !important; 
}

#footer_wrap p {
    color: #707070 !important; 
}

#footer_wrap a {
    color: #707070 !important; 
}

